<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sitewriter</title>
    <link rel="stylesheet" href="/css/styles.css?v=20180318">
  </head>
  <body>
    <header>
      <a href="/">sitewriter</a>
    </header>

    <%= yield %>

  </body>
</html>
