<h2>Nuts and bolts</h2>
<p>
  Get IndieWeb ready with <a href="https://indiewebify.me/">IndieWebify.Me</a>.
</p>
<p>
  Test your Micropub setup at <a href="https://micropub.rocks/">Micropub.rocks</a>.
</p>

<h2>Posting to your site</h2>
<p>
  Post with Micropub using <a href="https://omnibear.com/">Omnibear</a>, <a href="https://quill.p3k.io/">Quill</a>, or <a href="https://micropublish.net/">Micropublish</a>.
</p>
<p>
  Use older posting tools by emulating Wordpress with <a href="https://aaronparecki.com/2018/04/09/5/">Aaron Parecki's MetaWeblog bridge</a> at <a href="https://xmlrpc.p3k.io">xmlrpc.p3k.io</a>.
</p>

<h2>Stay social</h2>
<p>
  <a href="https://micro.blog/">Micro.blog</a> is a great place to add a conversation layer to your site. Sitewriter's Micropub endpoint works for <a href="http://help.micro.blog/2017/api-posting/">posting</a> and it should be easy for you to publish a compatible <a href="http://help.micro.blog/2017/api-feeds/">feed</a>. It's also great for <a href="http://help.micro.blog/2016/cross-posting-twitter/">syndicating to Twitter and Facebook</a>.
</p>
<p>
  Syndicate your posts to, and receive webmentions from, many social sites with <a href="https://brid.gy/">Bridgy</a>.
</p>
<p>
  Pelle Wessman's open <a href="https://webmention.herokuapp.com/">WebMention Endpoint</a> can received webmentions for you and use client Javascript to display them.
<p>
  You might also receive webmentions with <a href="https://webmention.io/">Webmention.io</a> and display them with the <a href="https://github.com/aarongustafson/jekyll-webmention_io">Jekyll plugin</a>.
</p>

<h2>Own your data</h2>
<p>
  Import your Instagram posts with <a href="https://ownyourgram.com/">OwnYourGram</a>.
</p>
<p>
  Import your Swarm (Foursquare) checkins with <a href="https://ownyourswarm.p3k.io">OwnYourSwarm</a>.
</p>
