html, body {
  height: 100%;
}
body {
	display: flex;
  flex-direction: column;

	margin: 0;

	line-height: 1.5;

	color: black;
	background: white;

	font-family: sans-serif;
}

header {
	margin: 0;
	padding: 0 16px;
	padding-top: 16px;
	font-size: 32px;
	background-color: #34495E;
	color: #FFFFFF;
}
header a {
	text-decoration: none;
	color: inherit;
}

#content {
	flex: 1 0 auto;
  margin: 0;
  padding: 0;
}
#content>* {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
}

footer {
  flex-shrink: 0;

	margin: 0;
	padding: 16px;
	font-size: 16px;
	background-color: #34495E;
	color: #FFFFFF;
}
footer a {
	color: inherit;
}

h1, h2 {
	color: #34495E;
}

a {
  color: #2980B9;
}

.nav {
  background-color: #ECF0F1;
  color: #34495E;
}
.nav a {
  color: #34495E;
}

.warning {
  font-weight: bold;
  background-color: #E67E22;
  color: #FFFFFF;
}

.success {
  font-weight: bold;
  background-color: #27AE60;
  color: #FFFFFF;
}

.warning a, .success a {
  color: #FFFFFF;
}
